/*
/ Snippet which disables chrome standard blue outline
*/
textarea:focus, input:focus, button:focus, li:focus, a:focus, select:focus, tags-input:focus{
	outline: 0!important;
	box-shadow: none!important;
}
.md-color-picker-clear{display: none!important;}
a{
	text-decoration: none!important;
	color: #3F51B5!important;
}
a:hover{opacity: 0.8;}

.main_scope{height: 100vh;}

.left_scope{overflow: auto;border-right: 1px solid #EEEEEE; background-color: #FAFAFA;}
.left_scope-data{width: 100%;height: auto; text-align: center;padding-bottom: 500px;}
.md-title{padding: 20px!important;}

/*md-card{width: 90%!important;}*/
md-card-title{padding-bottom: 50px!important;}
md-card-content{text-align: left!important;}
.block1{width:100%;}

.right_scope{overflow: hidden;}
